@import url('./all.min.css');

/* 헤더탑 */
div.hdrTopWrap{}
div.hdrTopWrap>div.hdrTop{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    outline: 1px solid red;
}
div.hdrTopWrap>div.hdrTop>div.icons{}
div.hdrTopWrap>div.hdrTop>div.icons>i{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    outline: 1px solid red;
}
div.hdrTopWrap>div.hdrTop>nav{}
div.hdrTopWrap>div.hdrTop>nav>h4{}

/* 헤더 */
div.hdrWrap{}
div.hdrWrap>div.header.hdr{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    outline: 1px solid red;
}
div.hdrWrap>div.header.hdr>h1{}
div.hdrWrap>div.header.hdr>nav{}
div.hdrWrap>div.header.hdr>nav>h4{}
div.hdrWrap>div.header.hdr>nav>h4>i{}

/* 컨텐츠 공통 */
div.cntWrap.wrap{}
div.cntWrap.wrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    outline: 1px solid red;
}
div.cntWrap.wrap>div.content>header{}
div.cntWrap.wrap>div.content>header>h2{}
div.cntWrap.wrap>div.content>header>p{}
div.cntWrap.wrap>div.content>section{}
div.cntWrap.wrap>div.content>section>article{}
div.cntWrap.wrap>div.content>section>article>div.image{}
div.cntWrap.wrap>div.content>section>article>div.texts{}
div.cntWrap.wrap>div.content>section>article>div.texts>h3{}
div.cntWrap.wrap>div.content>section>article>div.texts>h4{}
div.cntWrap.wrap>div.content>section>article>div.texts>p{}
div.cntWrap.wrap>div.content>section>article>div.texts>div.icons{}
div.cntWrap.wrap>div.content>section>article>div.texts>div.icons>i{}

/* 컨텐츠1 */
div.cntWrap.wrap1{}
div.cntWrap.wrap1>div.content.cnt1{}
div.cntWrap.wrap1>div.content.cnt1>header{}
div.cntWrap.wrap1>div.content.cnt1>header>h2{}
div.cntWrap.wrap1>div.content.cnt1>header>p{}
div.cntWrap.wrap1>div.content.cnt1>section{}
div.cntWrap.wrap1>div.content.cnt1>section>div.artTop{}
div.cntWrap.wrap1>div.content.cnt1>section>div.artTop>article{}
div.cntWrap.wrap1>div.content.cnt1>section>div.artTop>article>div.image{}
div.cntWrap.wrap1>div.content.cnt1>section>div.artTop>article>div.texts{}
div.cntWrap.wrap1>div.content.cnt1>section>div.artTop>article>div.texts>h3{}
div.cntWrap.wrap1>div.content.cnt1>section>div.artTop>article>div.texts>h4{}
div.cntWrap.wrap1>div.content.cnt1>section>div.artTop>article>div.texts>p{}
div.cntWrap.wrap1>div.content.cnt1>section>div.artTop>article>div.texts>div.icons{}
div.cntWrap.wrap1>div.content.cnt1>section>div.artTop>article>div.texts>div.icons>i{}
div.cntWrap.wrap1>div.content.cnt1>section>div.artBtm{}
div.cntWrap.wrap1>div.content.cnt1>section>div.artBtm>article{}
div.cntWrap.wrap1>div.content.cnt1>section>div.artBtm>article>div.image{}
div.cntWrap.wrap1>div.content.cnt1>section>div.artBtm>article>div.texts{}
div.cntWrap.wrap1>div.content.cnt1>section>div.artBtm>article>div.texts>h3{}
div.cntWrap.wrap1>div.content.cnt1>section>div.artBtm>article>div.texts>p{}
div.cntWrap.wrap1>div.content.cnt1>section>div.artBtm>article>div.texts>div.icons{}
div.cntWrap.wrap1>div.content.cnt1>section>div.artBtm>article>div.texts>div.icons>i{}

/* 컨텐츠2 */
div.cntWrap.wrap2{}
div.cntWrap.wrap2>div.content.cnt2{}
div.cntWrap.wrap2>div.content.cnt2>header{}
div.cntWrap.wrap2>div.content.cnt2>header>h2{}
div.cntWrap.wrap2>div.content.cnt2>header>p{}
div.cntWrap.wrap2>div.content.cnt2>section{}
div.cntWrap.wrap2>div.content.cnt2>section>article{}
div.cntWrap.wrap2>div.content.cnt2>section>article>div.image{}
div.cntWrap.wrap2>div.content.cnt2>section>article>div.texts{}
div.cntWrap.wrap2>div.content.cnt2>section>article>div.texts>h3{}
div.cntWrap.wrap2>div.content.cnt2>section>article>div.texts>h4{}
div.cntWrap.wrap2>div.content.cnt2>section>article>div.texts>p{}
div.cntWrap.wrap2>div.content.cnt2>section>article>div.texts>div.button{}

/* 콘텐츠3 */
div.cntWrap.wrap3{}
div.cntWrap.wrap3>div.content.cnt3{}
div.cntWrap.wrap3>div.content.cnt3>header{}
div.cntWrap.wrap3>div.content.cnt3>header>h2{}
div.cntWrap.wrap3>div.content.cnt3>header>p{}
div.cntWrap.wrap3>div.content.cnt3>section{}
div.cntWrap.wrap3>div.content.cnt3>section>article{}
div.cntWrap.wrap3>div.content.cnt3>section>article>div.image{}
div.cntWrap.wrap3>div.content.cnt3>section>article>div.texts{}
div.cntWrap.wrap3>div.content.cnt3>section>article>div.texts>h3{}
div.cntWrap.wrap3>div.content.cnt3>section>article>div.texts>p{}

/* 푸터 */
div.footerWrap{}
div.footerWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    outline: 1px solid red;
}
div.footerWrap>div.footer>h4{}
div.footerWrap>div.footer>p{}
div.footerWrap>div.footer>div.sns{}
div.footerWrap>div.footer>div.sns>i{}
